<section>
	<!-- TIME, WEATHER, SERVER TEMP -->
	<div class='row'>
		<div class='col-md-4'>

			<div class='widget widget-clock small-adjust'>
				<div class='widget-body small'>
					<div class="clock-wrapper">
						<div class="clock-content">
							<h1 id="date" class="date">{{currentDate}}</h1>
							<h3 id="time" class="time">{{currentTime}}</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class='col-md-4'>
			<weather-widget></weather-widget>
		</div>
		<div class='col-md-4'>
			<server-monitor></server-monitor>
		</div>
	</div>
	<!-- TIME, WEATHER, SERVER TEMP END -->





</section>