.center {
  text-align: center;
}

.table {
  color: #FFF;
  background-color:  #354962;
}

.t-head {
  background: #354962;
}

.medium-adjust {
	height: 317px;
	
}

.overflow-adjust{
	overflow-y: auto;
}