<section>
  <div class="widget" *ngIf="serviceDetails">
    <div class="widget-header">
      <!-- <h4></h4> -->
      <h4>Service Details</h4>
    </div>
    <div class="widget-body">
      <div class="row">
        <div class="col-md-6 col-sm-6">

          <label>Name</label>: {{serviceDetails.service.name}} (<a href="{{serviceDetails.service.url}}" target="_blank">{{serviceDetails.service.url}}</a>)

        </div>
        <div class="col-md-6 col-sm-6">
          <label>Host</label>: {{serviceDetails.service.host}}
        </div>
      </div>
      <div class="row" *ngIf="hasOutage">
        <div class="col-md-6 col-sm-6">

          <label>Last Outage</label>: {{lastOutage.timestamp | date:'medium'}}

        </div>
        <div class="col-md-6 col-sm-6">
          <label>Outage Duration</label>: {{lastOutageDuration}} (minutes:seconds)
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5>Latency History</h5>
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary" [ngClass]="hourActive" (click)="getLatencyData(hour)">
                      <input type="radio" name="lastHour" id="lastHour" autocomplete="off" >Last Hour 
                    </label>
            <label class="btn btn-primary" [ngClass]="twoFourHoursActive" (click)="getLatencyData(twoFour)">
                      <input type="radio" name="last24Hours" id="last24Hours" autocomplete="off"> Last 24 Hours
                    </label>
            <label class="btn btn-primary" [ngClass]="weekActive" (click)="getLatencyData(week)">
                      <input type="radio" name="lastWeek" id="lastWeek" autocomplete="off"> Last Week
                    </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div>
            <canvas baseChart class="chart" [datasets]="datasets" [labels]="labels" [options]="options" [chartType]="'line'" [colors]="lineChartColors">

            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>