@import 'variables';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav>li {
    position: relative;
    display: block;
    float: left;
}

#my-app-title, #my-nav-menu{
  float: right;
  color:white;
}

#my-nav-menu {
  @media screen and (min-width: $break-large) {
    position: relative;
    left: 14px;
  }
}

.fa-bars {
  color: white;
}

button {
  background-color: transparent;
  background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none
}


.sidebar {
    background-color: grey;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    color:white;
}

.sidebar h1 {
    color: white;
}

.dash {
    position: absolute;
    top: 0;
    left: 150px;
    right: 0;
    bottom: 0;
    
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

input[type=checkbox] {
   display: none;
}

input:checked ~ .portfolio { 
    left: 0;
}

input:checked ~ label {
    left: 0;
}

label {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 150px;
    background-color: blue;
    
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
}